body {
  height: max-content;
}

.container {
  width: 70%;
  margin: auto;
  border: 1px solid black;
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 20px;
}

.container h2 {
  text-align: center;
  background-color: blue;
  border-radius: 20px 20px 0px 0px;
  color: white;
  margin: 0;
  padding: 15px;
  box-shadow: 0px 12px 11px 0px rgba(0, 0, 0, 0.4);
}

.instruction h1 {
  text-align: center;
  font-size: 26px;
  margin: 15px;
}

.instruction ol {
  margin-bottom: 45px;
  font-size: large;
}

.confirm {
  text-align: center;
  border-top: 1px solid black;
  color: rgb(175, 0, 0);
}

.confirm input[type="checkbox"] {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btns {
  display: flex;
  justify-content: center;
}

.btns button {
  display: block;
  margin: 20px;
  width: 150px;
  padding: 15px 30px;
  transition: 0.3s;
  font-size: 0.95em;
  border: 1px solid rgb(175, 0, 0);
}

.btns button:hover {
  transform: translateY(-2px);
  background-color: rgb(49, 185, 49);
  border-color: black;
  color: white;
}
