/* General elment' css */

body {
    background-color: #F6F4E6;
}

h3 {
    color: #41444B;
    font-weight: bold;
}

p {
    display: inline-block;
}

.schedule {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 95%;
    gap: 2rem;
}


/* This section deals with profile image on top nav bar */

.profile-pic {
    position: absolute;
    left: 5px;
    top: 5px;
}

.profile {
    height: 5rem;
    width: 5rem;
}


/* This section deals with Student bio(name and email) on top nav bar */

.profile-bio {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    left: 6rem;
    top: 10px;
}

.small-line-br {
    line-height: 0.5rem;
}


/* This section deals with menu option on top nav bar */

.profile-menu {
    position: absolute;
    left: 80%;
    top: 10px;
}

.menu_icon {
    border-radius: 0%;
    height: 1.5rem;
    width: 1.5rem;
}

img {
    border-radius: 100%;
    height: 10rem;
    width: 10rem;
    margin-bottom: 0.5rem;
}


/* All the sidebar elements  */

.legend-table {
    position: absolute;
    top: 7rem;
    left: 1rem;
    width: 10%;
}

tr,
td {
    padding: 0.5rem;
    font-weight: 600;
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 16%;
    height: 100vh;
    background-color: #F47570;
}

.dot-one {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.dot-two {
    height: 25px;
    width: 25px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
}

.dot-three {
    height: 25px;
    width: 25px;
    background-color: purple;
    border-radius: 50%;
    display: inline-block;
}

.dot-four {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.dot-five {
    height: 25px;
    width: 25px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
}

.top-bar {
    background-color: grey;
    position: fixed;
    top: 0;
    left: 16%;
    height: 5.5rem;
    width: 100vw;
}

.exam-cards {
    position: absolute;
    left: 15rem;
    top: 5.5rem;
}